.footer{
    padding-bottom: 50px;

    &__form{
        padding-top: 30px;
    }
    
    &__divIcons{
        padding-top: 90px;
    }
    
    &__icons{
        padding-right: 20px;
    }
    
    &__contact{
        padding-bottom: 10px;
    }

    .form__a-conditions{
        color: #ffffff;
        
    }
}